body { font-family: "Lato", sans-serif; font-size: 12px;}
		#main{left: 15%; padding-left: 10%; color: #333; position: absolute; font-size: 18px;}
		.sidenavclass {
    height: 100%;
    width: 15%;
    position: fixed;
    display: block;
    z-index: 1;
    top: 0;
    left: 0;
    font-size: 18px;
    color: #0d0d0d;
    background-color: #000000;
    padding-top: 18%;
    padding-left: 6%;
}

#myName{
  color: #ffffff;
}

#pic{
  position: absolute;
  height: 1000%;
}

#footer {
   position: fixed;
   left: 0;
   z-index: 1;
   padding-left: 3%;
   font-size: 12px;
   bottom: 0;

}

#name {
   position: fixed;
   left: 0;
   z-index: 1;
   padding-top: 10%;
   padding-left: 3%;
   font-size: 12px;
   top: 0;


}
		.sidenavclass a:hover{color: #999966;}
		.sidenavclass a{color: #ffffff; padding-left: 15%; }
		.sidenavclass a:link{color:#ffffff ;text-decoration: none; padding-left: 2%;}